<header class="site-header">

  <div class="wrapper">


    <nav class="site-nav">

      <img src = "{{ site.baseurl }}/samlogo.png" width="150" height="150">

      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/">About Me</a>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
